<% provide(:title, "Help")%>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | 文系学生と学ぶ社会学</title>
  </head>
  <body>
    <h1>help/文系学生と学ぶ社会学</h1>
    <p>サイトの使い方を記述します。</p>
  </body>
</html>
