<div class="container sidebar">
  <div class="row">
      <h4><b>プロフィール</b></h4>
      <ul>
        <li><%= @user.name %></li>
        <li><%= image_tag @user.image %></li>
        <li><%= @user.introduction %></li>
      </ul>
    </div>
</div>