<% provide(:title, 'Edit user') %>
<% provide(:button_text, '更新') %>
<%= render 'static_pages/menu' %>
<div class="container">
  <div class="row col-md-8 profile">
    <%= render 'form' %>
  </div>
</div>