<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8">
    <% if @user.blogs.any? %>
    <ol class="blogs">
      <%= render @blogs %>
    </ol>
    <%= will_paginate @blogs %>
    <% end %>
  </div>
</div>