<% provide(:title, @user.name) %>
<div class="row">
  <div class="col-md-8">
    <% if @user.blogs.any? %>
    <ol class="blogs">
      <%= render @blogs %>
    </ol>
    <%= will_paginate @blogs, :previous_label => '&lt 前のページ', :next_label => '次のページ &gt', class: "pagination justify-content-center" %>
    <% end %>
  </div>
</div>