<% provide(:title, @user.name) %>
<div class="container">
  <div class="jumbotron text-center">
    <h3>名前</h3>
    <h4><%= @user.name %></h4>
    <h3>紹介文</h3>
    <p><%= @user.introduction %></p>
    <%= image_tag @user.image.url if @user.image? %>
  </div>
</div>