@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$gray-medium-light: #eaeaea;

body {
    padding-top: 60px;
    background-color: #f8f8f8;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover{
        color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
        float: left;
        margin-left: 15px;
    }
  }
}

.btn-primary {
  background: #333333;
}

.comments {
  margin-bottom: 30px;
  h4 {
    padding-bottom: 10px;
  }
  h5.content {
    padding-bottom: 20px;
  }
  small {
    color: #AAAAAA;
    float: left
  }
  ul {
    float: right;
    list-style: none;
    border-bottom: 1px solid #DDDDDD;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

.blog-panel{
  padding: 60px;
  .date {
    color: #BBBBBB;
  }
  .title{
    color: black;
    font-family: 'klee','Yu Mincho Light','YuMincho','Yu Mincho','游明朝体','ヒラギノ明朝 ProN','Hiragino Mincho ProN';
    margin-bottom: 50px;
  }
}

.menu-panel{
  width: 170px;
  padding-top: 30px;
  .panel-heading {
    background-color: #e84c3d;
  }
  .fa-home {
    color: white;
  }
  ul {
    padding: 5px 0 0 10px;
    list-style: none;
  }
}

.main-panel {
  color: black;
  margin: 30px;
  .menu-icon{
    font-size: 50px;
    padding-left: 45px;
  }
  h5 {
    padding-top: 10px;
    text-align: center;
  }
}

.profile {
  padding-top: 50px;
  margin-left: 50px;
  position: relative;
  .profile-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.logout-home {
  position: relative;
  .login-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
  }
}

.login-home {
  position: relative;
  .login-button {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.management {
  padding-top: 60px;
  margin-left: 50px;
}

.sidebar {
  padding-top: 30px;
  ul {
    list-style: none;
    li {
      padding-bottom: 5px;
    }
  }
}

.login-form{
  height: 250px;
  padding-top: 60px;
  position: relative;
  .login-button {
    position: absolute;
    top: 150px;
    right: 0;
  }
}
