<footer class="footer">
  <small>
    文系学生と学ぶ社会学by田川裕隆
  </small>
  <nav>
    <ul>
      <li><%= link_to "詳細", about_path %></li>
      <li><%= link_to "コンタクト", contact_path %></li>
    </ul>
  </nav>
</footer>
